<div id="top-bar">
	<div id="player-data">
	</div>
	<div id="title">
		<h1>{{title}}</h1>
	</div>
</div>

<p>{{txt}}</p>

<input type="text" class="textfield"></input>
<input type="button" class="submit" value="GOOO!"></input>

<script type="text/javascript" src="/jspos-0.2.2/lexer.js"></script>
<script type="text/javascript" src="/jspos-0.2.2/lexicon.js_"></script>
<script type="text/javascript" src="/jspos-0.2.2/POSTagger.js"></script>
<script type="text/javascript" src="/commands.js"></script>
<script type="text/javascript" src="/andreas_magic.js"></script>