<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="icon" href="/pictures/favicon.png">
		<title>The Cracker-game</title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>